*.log
*.pot
*.pyc
local_settings.py

# Emacs
\#*\#
*~

# Debian temporary
*.debhelper
*.debhelper.log
*.substvars
debian/*/*
debian/files
build/*

# Localisation
*.mo

*.egg-info
*.swp
.installed.cfg
/bin/
/develop-eggs/
/eggs/
/parts/
/ckeditor.db
